@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

}
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
}
:focus{
  outline: 0;
}

body, input, textarea, button {
  font-weight: 400;
  font-size: 1rem;
}
h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}
button{
  cursor: pointer;
} 
[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

@media (max-width: 1080px) {
  html{
    font-size: 93.75%; 
  }
}
@media (max-width: 720px) {
  html{
    font-size: 87.5%;
  }
}

.content {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 6px 36px;
  overflow: hidden;
  background-color: #fafafa;
}

.border-gradient-line {
  display: flex;
  height: 270px;
  width: 526px;
  border-radius: 6px 36px;
  border: 1px solid #fafafa;
  padding: 1px;
  background-image: linear-gradient(102.89deg, #DBAC2C 2.61%, #8047F8 98.76%);
}

@media (max-width: 639px) {
  .border-gradient-line {
    display: flex;
    height: 270px;
    width: 526px;
    border-radius:none;
    border: none;
    padding: 0px;
    background-image:none
  }
}








